<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="destDTO" type="com.mono.ums.dto.DestDTO" />
		<typeAlias alias="sendDTO" type="com.mono.ums.dto.SendDTO" />
		<typeAlias alias="send_selectDTO" type="com.mono.ums.dto.Send_SelectDTO" />
	</typeAliases>
</configuration>