<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mono.ums2.mapper.MsgReportMapper">

	<select id="SMSReportItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			S.MSGID
			,SR.SCHEDULE_TYPE
			,SR.SUBJECT
			,SR.SMS_MSG
			,TO_CHAR(TO_DATE(SR.NOW_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOW_DATE
			,TO_CHAR(TO_DATE(SR.SEND_DATE,'YYYY-MM-DD
			HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE
			,S.SENDTYPE
			,S.DEPARTNUM
			,SR.DEST_COUNT
			,SR.SUCC_COUNT
			,SR.FAIL_COUNT
		FROM UMS_MSG_SEND S,
		SDK_SMS_REPORT_2101 SR
		WHERE S.RESERVED1 = SR.RESERVED1
		ORDER BY MSGID DESC
	</select>
	<select id="MMSReportItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			S.MSGID
			,SR.SCHEDULE_TYPE
			,SR.SUBJECT
			,SR.MMS_MSG
			,TO_CHAR(TO_DATE(SR.NOW_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOW_DATE
			,TO_CHAR(TO_DATE(SR.SEND_DATE,'YYYY-MM-DD
			HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE
			,S.SENDTYPE
			,S.DEPARTNUM
			,SR.DEST_COUNT
			,SR.SUCC_COUNT
			,SR.FAIL_COUNT
			,SR.CONTENT_DATA
		FROM UMS_MSG_SEND
		S, SDK_MMS_REPORT_2101 SR
		WHERE S.RESERVED1 = SR.RESERVED1
		ORDER BY MSGID DESC
	</select>
	<select id="VMSReportItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			S.MSGID
			,SR.SCHEDULE_TYPE
			,SR.SUBJECT
			,SR.TTS_MSG
			,SR.NOW_DATE
			,SR.SEND_DATE
			,S.SENDTYPE
			,S.DEPARTNUM
			,SR.DEST_COUNT
			,SR.SUCC_COUNT
			,SR.FAIL_COUNT
		FROM UMS_MSG_SEND S, SDK_VMS_REPORT_2101 SR
		WHERE S.RESERVED1 =
		SR.RESERVED1
		ORDER BY MSGID DESC
	</select>
	<select id="FMSReportItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			S.MSGID
			,SR.SCHEDULE_TYPE
			,SR.SUBJECT
			,SR.ATTACH_FILE
			,TO_CHAR(TO_DATE(SR.NOW_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOW_DATE
			,TO_CHAR(TO_DATE(SR.SEND_DATE,'YYYY-MM-DD
			HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE
			,S.SENDTYPE
			,S.DEPARTNUM
			,SR.DEST_COUNT
			,SR.SUCC_COUNT
			,SR.FAIL_COUNT
		FROM UMS_MSG_SEND S,
		SDK_FMS_REPORT_2101 SR
		WHERE S.RESERVED1 = SR.RESERVED1
		ORDER BY MSGID DESC
	</select>

	<!--******************************************************** -->

	<update id="updateSendSMS">
		UPDATE UMS_MSG_SEND A
		SET (
			A.SENDDATE
			,A.SUCCCNT
			,A.FAILCNT
		)
		=
		(
		SELECT
			B.SEND_DATE
			,B.SUCC_COUNT
			,B.FAIL_COUNT
		FROM SDK_SMS_REPORT_2101 B
		WHERE RESERVED1=#{id}
		)
		WHERE A.MSGID=#{id}
	</update>
	<update id="updateSendMMS">
		UPDATE UMS_MSG_SEND A
		SET (
			A.SENDDATE
			,A.SUCCCNT
			,A.FAILCNT
		)
		=
		(
		SELECT
			B.SEND_DATE
			,B.SUCC_COUNT
			,B.FAIL_COUNT
		FROM SDK_MMS_REPORT_2101 B
		WHERE RESERVED1=#{id}
		)
		WHERE A.MSGID=#{id}
	</update>
	<update id="updateSendVMS">
		UPDATE UMS_MSG_SEND A
		SET (
			A.SENDDATE
			,A.SUCCCNT
			,A.FAILCNT
		)
		=
		(
		SELECT
			B.SEND_DATE
			,B.SUCC_COUNT
			,B.FAIL_COUNT
		FROM SDK_VMS_REPORT_2101 B
		WHERE RESERVED1=#{id}
		)
		WHERE A.MSGID=#{id}
	</update>
	<update id="updateSendFMS">
		UPDATE UMS_MSG_SEND A
		SET (
			A.SENDDATE
			,A.SUCCCNT
			,A.FAILCNT
		)
		=
		(
		SELECT
			B.SEND_DATE
			,B.SUCC_COUNT
			,B.FAIL_COUNT
		FROM SDK_FMS_REPORT_2101 B
		WHERE RESERVED1=#{id}
		)
		WHERE A.MSGID=#{id}
	</update>
	<!--******************************************************** -->
	<select id="schDestReportSMS" resultType="SchDestReportDTO">
		SELECT
			B.DEST_NAME
			,B.PHONE_NUMBER
			,B.DELIVER_DATE
			,B.REPORT_RES_DATE
			,B.TCS_RESULT
		FROM
		SDK_SMS_REPORT_DETAIL_2101 B, SDK_SMS_REPORT_2101 C
		WHERE B.MSG_ID = C.MSG_ID
		AND C.RESERVED1 = #{id}
	</select>
	<select id="schDestReportMMS" resultType="SchDestReportDTO">
		SELECT
			B.DEST_NAME
			,B.PHONE_NUMBER
			,B.DELIVER_DATE
			,B.REPORT_RES_DATE
			,B.TCS_RESULT
		FROM
		SDK_MMS_REPORT_DETAIL_2101 B, SDK_MMS_REPORT_2101 C
		WHERE B.MSG_ID = C.MSG_ID
		AND C.RESERVED1 = #{id}
	</select>
	<select id="schDestReportVMS" resultType="SchDestReportDTO">
		SELECT
			B.DEST_NAME
			,B.PHONE_NUMBER
			,B.STIME
			,B.RTIME
			,B.TCS_RESULT
		FROM
		SDK_VMS_REPORT_DETAIL_2101 B,
		SDK_VMS_REPORT_2101 C
		WHERE B.MSG_ID = C.MSG_ID
		AND C.RESERVED1 = #{id}
	</select>
	<select id="schDestReportFMS" resultType="SchDestReportDTO">
		SELECT
			B.DEST_NAME
			,B.PHONE_NUMBER
			,B.DELIVER_DATE
			,B.REPORT_RES_DATE
			,B.TCS_RESULT
		FROM
		SDK_FMS_REPORT_DETAIL_2101 B, SDK_FMS_REPORT_2101 C
		WHERE B.MSG_ID = C.MSG_ID
		AND C.RESERVED1 = #{id}
	</select>
	<!--******************************************************** -->
	<update id="updateDestSMS">
		UPDATE UMS_DEST
		SET
		(
			NOW_DATE
			,SEND_DATE
			,TCS_RESULT
		)
		=
		(
		SELECT
			#{deliver_date}
			,#{report_res_date}
			,#{tcs_result}
		FROM DUAL
		)
		WHERE
		MSGID=#{id}
	</update>
	<update id="updateDestMMS">
		UPDATE UMS_DEST
		SET
		(
			NOW_DATE
			,SEND_DATE
			,TCS_RESULT
		)
		=
		(
		SELECT
			#{deliver_date}
			,#{report_res_date}
			,#{tcs_result}
		FROM DUAL
		)
		WHERE
		MSGID=#{id}
	</update>
	<update id="updateDestVMS">
		UPDATE UMS_DEST
		SET
		(
			NOW_DATE
			,SEND_DATE
			,TCS_RESULT
		)
		=
		(
		SELECT
			#{stime}
			,#{rtime}
			,#{tcs_result}
		FROM DUAL
		)
		WHERE
		MSGID=#{id}
	</update>
	<update id="updateDestFMS">
		UPDATE UMS_DEST
		SET
		(
			NOW_DATE
			,SEND_DATE
			,TCS_RESULT
		)
		=
		(
		SELECT
			#{deliver_date}
			,#{report_res_date}
			,#{tcs_result}
		FROM DUAL
		)
		WHERE
		MSGID=#{id}
	</update>

	<!--******************************************************** -->

	<select id="schMsgSend" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			MSGID
			,SENDTYPE
			,SCHDTYPE
			,SUBJECT
			,MSGCONTENT
			,TO_CHAR(TO_DATE(NOWDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOWDATE
			,TO_CHAR(TO_DATE(SENDDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD
			HH24:MI:SS') AS SENDDATE
			,DEPARTNUM
			,MSGCNT
			,SUCCCNT
			,FAILCNT
		FROM UMS_MSG_SEND
	</select>

	<select id="schDetailItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			A.MSGID
			,A.SUBJECT
			,A.SENDTYPE
			,A.MSGCONTENT
			,A.DEPARTNUM
			,TO_CHAR(TO_DATE(A.NOWDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOWDATE
			,TO_CHAR(TO_DATE(A.SENDDATE,'YYYY-MM-DD
			HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SENDDATE
			,A.ATTACHFILE
			,B.DESTNUM
			,B.DESTNM
			,TO_CHAR(TO_DATE(B.NOW_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD
			HH24:MI:SS') AS NOW_DATE
			,TO_CHAR(TO_DATE(B.SEND_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE
			,B.SEND_STATUS
			,B.TCS_RESULT
		FROM
		UMS_MSG_SEND A, UMS_DEST B
		WHERE A.MSGID=B.MSGID
		AND A.MSGID=#{id}
	</select>

	<select id="schReport" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<choose>
			<when test="schType.equals('subject')">
				SELECT
					MSGID
					,SENDTYPE
					,SCHDTYPE
					,SUBJECT
					,MSGCONTENT
					,TO_CHAR(TO_DATE(NOWDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOWDATE
					,TO_CHAR(TO_DATE(SENDDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SENDDATE
					,DEPARTNUM
					,MSGCNT
					,SUCCCNT
					,FAILCNT
				FROM UMS_MSG_SEND
				WHERE SUBJECT LIKE '%'||#{schContent}||'%'
				AND SENDDATE BETWEEN REPLACE(#{startDate},'-','') AND REPLACE(#{endDate},'-','')
			</when>
			<when test="schType.equals('departNum')">
				SELECT
					MSGID
					,SENDTYPE
					,SCHDTYPE
					,SUBJECT
					,MSGCONTENT
					,TO_CHAR(TO_DATE(NOWDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS NOWDATE
					,TO_CHAR(TO_DATE(SENDDATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS SENDDATE
					,DEPARTNUM
					,MSGCNT
					,SUCCCNT
					,FAILCNT
				FROM UMS_MSG_SEND
				WHERE DEPARTNUM LIKE '%'||#{schContent}||'%'
				AND SENDDATE BETWEEN REPLACE(#{startDate},'-','') AND REPLACE(#{endDate},'-','')
			</when>
		</choose>
	</select>


</mapper>