<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mono.ums2.mapper.MsgSendMapper">

	<!-- 수신자 추가 -->
	<insert id="addSendItem" parameterType="DestTempDTO">
	<![CDATA[
		INSERT INTO UMS_DEST_TEMP (
			DESTID
			,DESTNM
			,DESTNUM
			,VAR1
			,VAR2
			,VAR3
			,VAR4
		) VALUES (
			DEST_TEMP_SEQ.NEXTVAL
			,#{destNm}
			,#{destNum}
			,#{var1}
			,#{var2}
			,#{var3}
			,#{var4}
		)			
	]]>
	</insert>

	<select id="checkDest" resultType="int">
		SELECT count(*)
		FROM UMS_DEST_TEMP
		WHERE DESTNUM=#{destNum}
	</select>

	<select id="getSendItemTotalCnt" parameterType="java.util.HashMap" resultType="java.lang.Long">
	<![CDATA[
		SELECT COUNT(1)
		FROM UMS_DEST_TEMP
		WHERE 1=1
	]]>
		<if test="destNm !=null  and !destNm.equalsIgnoreCase('')">
			<![CDATA[AND DESTNM LIKE '% || ${destNm} || %']]>
		</if>
		<if test="destNum !=null  and !destNum.equalsIgnoreCase('')">
			<![CDATA[AND DESTNM = #{destNum}]]>
		</if>
	</select>

	<select id="findSendItems" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	<![CDATA[
		SELECT 
			DESTNM
			,DESTNUM
			,VAR1
			,VAR2
			,VAR3
			,VAR4
		FROM UMS_DEST_TEMP
		WHERE 1=1
	]]>
		<if test="destNm !=null  and !destNm.equalsIgnoreCase('')">
			<![CDATA[AND DESTNM LIKE '% || ${destNm} || %']]>
		</if>
		<if test="destNum !=null  and !destNum.equalsIgnoreCase('')">
			<![CDATA[AND DESTNM = #{destNum}]]>
		</if>
	</select>
	
	<delete id="deleteDest">
		DELETE FROM UMS_DEST_TEMP
		WHERE DESTNUM = #{destNum}
	</delete>
	
	<delete id="deleteADest">
		TRUNCATE TABLE UMS_DEST_TEMP
	</delete>

	<insert id="sendMsg" parameterType="MsgSendDTO">
		<selectKey keyProperty="msgId" resultType="int" order="BEFORE">
			SELECT SEND_SEQ.nextval FROM DUAL
		</selectKey>
		<choose>
			<when test="!sendDate.equalsIgnoreCase('NaN')">
		<![CDATA[
		INSERT INTO UMS_MSG_SEND (
			MSGID
			,SENDTYPE
			,SCHDTYPE
			,SUBJECT
			,DEPARTNUM
			,NOWDATE
			,SENDDATE
			,MSGCNT
			,MSGCONTENT
			,ATTACHFILE
			,SUCCCNT
			,FAILCNT
			,RESERVED1
			,RESERVED2
		) VALUES (
			#{msgId}
			,#{sendType, jdbcType=NVARCHAR}
			,#{schdType, jdbcType=NVARCHAR}
			,#{subject}
			,#{departNum}
			,to_char(sysdate,'YYYYMMDDHH24MISS')
			,#{sendDate}
			,#{msgCnt}
			,#{msgContent}
			,#{attachFile, jdbcType=NVARCHAR}
			,NULL
			,NULL
			,#{msgId}
			,#{reserved2, jdbcType=NVARCHAR}
		)
		]]>
			</when>
			<otherwise>
		<![CDATA[
		INSERT INTO UMS_MSG_SEND (
			MSGID
			,SENDTYPE
			,SCHDTYPE
			,SUBJECT
			,DEPARTNUM
			,NOWDATE
			,SENDDATE
			,MSGCNT
			,MSGCONTENT
			,ATTACHFILE
			,SUCCCNT
			,FAILCNT
			,RESERVED1
			,RESERVED2
		) VALUES (
			#{msgId}
			,#{sendType, jdbcType=NVARCHAR}
			,#{schdType, jdbcType=NVARCHAR}
			,#{subject}
			,#{departNum}
			,to_char(sysdate,'YYYYMMDDHH24MISS')
			,to_char(sysdate,'YYYYMMDDHH24MISS')
			,#{msgCnt}
			,#{msgContent}
			,#{attachFile, jdbcType=NVARCHAR}
			,NULL
			,NULL
			,#{msgId}
			,#{reserved2, jdbcType=NVARCHAR}
		)
		]]>
			</otherwise>
		</choose>
	</insert>

	<delete id="truncTempItems">
		TRUNCATE TABLE UMS_DEST_TEMP
	</delete>

	<insert id="overWriteDest">
		INSERT INTO UMS_DEST (
		MSGID
		,DESTNUM
		,DESTNM
		,VAR1
		,VAR2
		,VAR3
		,VAR4
		) SELECT
		#{msgId}
		,DESTNUM
		,DESTNM
		,VAR1
		,VAR2
		,VAR3
		,VAR4
		FROM
		UMS_DEST_TEMP
	</insert>

	<select id="sendMsgSelect" resultType="SDKSendDTO">
	<![CDATA[
		SELECT
			S.MSGID
			,S.SCHDTYPE
			,S.SUBJECT
			,S.DEPARTNUM
			,S.NOWDATE
			,S.SENDDATE
			,S.MSGCNT
			,S.MSGCONTENT
			,S.ATTACHFILE
			,S.RESERVED1
			,S.RESERVED2
			,D.DESTNUM
			,D.DESTNM
			,D.VAR1
			,D.VAR2
			,D.VAR3
			,D.VAR4
		FROM UMS_MSG_SEND S, UMS_DEST D
		WHERE S.MSGID = D.MSGID
		AND S.MSGID=#{MSGID}
	]]>
	</select>

	<!-- *******************SDK INSERT********************* -->
	<insert id="sendMsgSDK">
		<choose>
			<when test="sendType.equals('SMS')">
				INSERT INTO SDK_SMS_SEND (
				MSG_ID
				,USER_ID
				,SCHEDULE_TYPE
				,SUBJECT
				,NOW_DATE
				,SEND_DATE
				,CALLBACK
				,DEST_COUNT
				,DEST_INFO
				,SMS_MSG
				,RESERVED1
				)VALUES(
				SDK_SMS_SEQ.nextval
				,'agentTest'
				,#{schdType}
				,#{subject}
				,#{nowDate}
				,#{sendDate}
				,#{departNum}
				,1
				,#{destInfo}
				,#{msgContent}
				,#{reserved1}
				)
			</when>
			<when test="sendType.equals('LMS')">
				INSERT INTO SDK_MMS_SEND
				(
				MSG_ID
				,USER_ID
				,SCHEDULE_TYPE
				,SUBJECT
				,NOW_DATE
				,SEND_DATE
				,CALLBACK
				,DEST_COUNT
				,DEST_INFO
				,MSG_TYPE
				,MMS_MSG
				,CONTENT_COUNT
				,CONTENT_DATA
				,RESERVED1
				)
				values
				(
				SDK_MMS_SEQ.NEXTVAL
				,'agentTest'
				,#{schdType}
				,#{subject}
				,#{nowDate}
				,#{sendDate}
				,#{departNum}
				,#{msgCnt}
				,#{destInfo}
				,0
				,#{msgContent}
				,1
				,NULL
				,#{reserved1}
				)
			</when>
			<when test="sendType.equals('MMS')">
				INSERT INTO SDK_MMS_SEND
				(
				MSG_ID
				,USER_ID
				,SCHEDULE_TYPE
				,SUBJECT
				,NOW_DATE
				,SEND_DATE
				,CALLBACK
				,DEST_COUNT
				,DEST_INFO
				,MSG_TYPE
				,MMS_MSG
				,CONTENT_COUNT
				,CONTENT_DATA
				,RESERVED1
				)
				values
				(
				SDK_MMS_SEQ.NEXTVAL
				,'agentTest'
				,#{schdType}
				,#{subject}
				,#{nowDate}
				,#{sendDate}
				,#{departNum}
				,#{msgCnt}
				,#{destInfo}
				,0
				,#{msgContent}
				,1
				,#{attachFile}
				,#{reserved1}
				)
			</when>
			<when test="sendType.equals('FMS')">
				INSERT INTO SDK_FMS_SEND
				(
				MSG_ID
				,USER_ID
				,MSG_SUBTYPE
				,SCHEDULE_TYPE
				,DEST_TYPE
				,SUBJECT
				,NOW_DATE
				,SEND_DATE
				,CALLBACK
				,DEST_COUNT
				,DEST_INFO
				,ATTACH_FILE
				,RESERVED1
				)
				VALUES
				(
				SDK_VMS_SEQ.NEXTVAL
				,'agentTest'
				,20
				,#{schdType}
				,0
				,#{subject}
				,#{nowDate}
				,#{sendDate}
				,#{departNum}
				,#{msgCnt}
				,#{destInfo}
				,#{attachFile}
				,#{reserved1}
				)
			</when>
			<when test="sendType.equals('VMS')">
				INSERT INTO SDK_VMS_SEND
				(
				MSG_ID
				,USER_ID
				,MSG_SUBTYPE
				,VOICE_TYPE
				,SCHEDULE_TYPE
				,SUBJECT
				,NOW_DATE
				,SEND_DATE
				,CALLBACK
				,SMSPLUS_MSG
				,TTS_MSG
				,MENT_TYPE
				,DEST_COUNT
				,DEST_INFO
				,RESERVED1
				)
				VALUES
				(
				SDK_VMS_SEQ.NEXTVAL
				,'agentTest'
				,30
				,0
				,#{schdType}
				,#{subject}
				,#{nowDate}
				,#{sendDate}
				,#{departNum}
				,NULL
				,#{msgContent}
				,0
				,#{msgCnt}
				,#{destInfo}
				,#{reserved1}
				)
			</when>
		</choose>
	</insert>


	<select id="schMsg" resultType="SDKSendDTO">
		SELECT
		MSGID
		,SENDTYPE
		,SCHDTYPE
		,SUBJECT
		,DEPARTNUM
		,NOWDATE
		,SENDDATE
		,MSGCNT
		,MSGCONTENT
		,ATTACHFILE
		,RESERVED1
		,RESERVED2
		FROM
		UMS_MSG_SEND
		WHERE MSGID=#{msgId}
	</select>

	<select id="schDest" resultType="SchDestDTO">
		SELECT
		MSGID
		,DESTNM
		,DESTNUM
		,VAR1
		,VAR2
		,VAR3
		,VAR4
		FROM UMS_DEST
		WHERE MSGID=#{msgId}
	</select>
	
</mapper>