<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mono.ums.mapper.SendMapper">

	<select id="select_dest" resultType="com.mono.ums.dto.DestDTO">	
	<![CDATA[		
		select dest_num, dest_name, var1, var2, var3, var4 from UMS_DEST_TEMP	
	]]>
	</select>

	<!-- 수신자 추가 -->
	<insert id="dest_insert">
	<![CDATA[	
		insert into UMS_DEST_TEMP values(			
		null, #{dest_num}, #{dest_name}, null, null,			
		null, null, null, #{var1}, #{var2}, #{var3}, #{var4}			
		)			
	]]>
	</insert>

	<!-- 수신자 삭제 -->
	<delete id="dest_delete">
	<![CDATA[
		delete from UMS_DEST_TEMP where dest_num = #{dest_name, jdbcType=NVARCHAR}
	]]>
	</delete>

	<!-- 전송 테이블 insert -->
	<insert id="send_insert">
		<selectKey keyProperty="msg_id" resultType="int" order="AFTER">
			SELECT SEND_SEQ.currval FROM DUAL
		</selectKey>
	<![CDATA[ 
		insert into UMS_MSG_SEND values(
		SEND_SEQ.nextval, #{sch_type, jdbcType=NVARCHAR}, #{subject, jdbcType=NVARCHAR}, 
		#{depart_num, jdbcType=NVARCHAR}, to_char(sysdate,'YYYYMMDDHH24MISS'), #{send_date, jdbcType=NVARCHAR}, 
		#{total_count, jdbcType=NVARCHAR}, #{msg_content, jdbcType=NVARCHAR},
		#{attach_file, jdbcType=NVARCHAR}, null, null, #{reserved1, jdbcType=NVARCHAR}, #{reserved2, jdbcType=NVARCHAR} 
		) 
		
	]]>
	</insert>

	<insert id="send_insert2">
		<selectKey keyProperty="msg_id" resultType="int" order="AFTER">
			SELECT SEND_SEQ.currval FROM DUAL
		</selectKey>
	<![CDATA[ 
		insert into UMS_MSG_SEND values(
		SEND_SEQ.nextval, #{sch_type, jdbcType=NVARCHAR}, #{subject, jdbcType=NVARCHAR}, 
		#{depart_num, jdbcType=NVARCHAR}, to_char(sysdate,'YYYYMMDDHH24MISS'), to_char(sysdate,'YYYYMMDDHH24MISS'), 
		#{total_count, jdbcType=NVARCHAR}, #{msg_content, jdbcType=NVARCHAR},
		#{attach_file, jdbcType=NVARCHAR}, null, null, #{reserved1, jdbcType=NVARCHAR}, #{reserved2, jdbcType=NVARCHAR} 
		) 
		
	]]>
	</insert>


	<!-- dest_temp -> dest -->
	<insert id="copy_dest">
	<![CDATA[	
		INSERT INTO UMS_DEST(
		msg_id, dest_num, dest_name, now_date, send_date, send_status,
		tcs_result, find_month,var1, var2, var3, var4
		)
		SELECT 
		#{msg_id}, dest_num, dest_name, now_date, send_date, send_status,
		tcs_result, find_month, var1, var2, var3, var4
		FROM UMS_DEST_TEMP
	]]>
	</insert>

	<!-- temp T 비우기 -->
	<delete id="trunc_temp">
		truncate table UMS_DEST_TEMP
	</delete>


	<!-- SDK INSERT할 정보 조인 -->
	<select id="select_send" resultType="com.mono.ums.dto.Send_SelectDTO">
	<![CDATA[
		SELECT
		s.msg_id, s.sch_type, s.subject, s.depart_num, s.now_date, s.send_date, s.total_count, s.msg_content,
		d.dest_name, d.dest_num, d.var1, d.var2, d.var3, d.var4
		FROM UMS_MSG_SEND s, UMS_DEST d
		WHERE s.msg_id = d.msg_id
		AND s.msg_id=#{msg_id}
	]]>
	</select>

	<insert id="insert_sdk_sms">
	<![CDATA[
		INSERT INTO SDK_SMS_SEND (MSG_ID, USER_ID, SCHEDULE_TYPE, SUBJECT, NOW_DATE, SEND_DATE,
		CALLBACK, DEST_COUNT, DEST_INFO, SMS_MSG)
		VALUES 
		(SDK_SMS_SEQ.nextval, 'agentTest', #{sch_type}, #{subject},
		to_char(sysdate,'YYYYMMDDHH24MISS'), #{send_date}, #{depart_num}, 1, #{dest_info}, #{msg_content}
		)
	]]>
	</insert>
	
	<insert id="insert_sdk_sms2">
	<![CDATA[
		INSERT INTO SDK_SMS_SEND (
		MSG_ID, USER_ID, SCHEDULE_TYPE, SUBJECT, NOW_DATE, SEND_DATE,
		CALLBACK, DEST_COUNT, DEST_INFO, SMS_MSG
		)
		VALUES 
		(SDK_SMS_SEQ.nextval, 'agentTest', #{sch_type}, #{subject},
		to_char(sysdate,'YYYYMMDDHH24MISS'), to_char(sysdate,'YYYYMMDDHH24MISS'), #{depart_num}, 1, #{dest_info}, #{msg_content}
		)
	]]>
	</insert>


</mapper>