#divBodyScroll {
	/*overflow-x, overflow-y는 scroll로 지정하고,
	height는 테이블의 데이터가 나올 기본 크기를 잡아줍니다.
	세로길이를 잡아주지 않으면 overflow-y가 걸리지 않습니다.*/
	width: 100%;
	height: 300px;
	overflow-x: scroll;
	overflow-y: scroll;
	border-top: 1px solid #d0d0d0;
}

#divradio {
	text-align: center;
}

#vmradio {
	text-align: center;
}

input[name=radio] {
	margin-left: 10px;
}