.wrap {
	min-height: 100%;
	position: relative;
}
/**************** Modal *******************/
/* .modal {
	display: none;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:1040;
}

.modal-layout {
	display: none;
	position: fixed;
	background: #ffffff;
	z-index: 1050; */

	/* position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff; */
}

/* .modal-header {
	font-size: 20px;
	padding: 20px;
	background: gold;
}

.modal-content {
	font-size: 15px;
	line-height: 1.3;
	padding: 30px;
}

#modal-close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #000;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	right: 10px;
	top: 10px;
} */

/***************** login **********************/
.loginBox {
	background-color: #fff;
	/* border-radius: 100px !important; */
	/* border: 3px solid #48b0f7 !important; */
	height: 600px;
	padding: 100px 80px 100px 80px;
	margin: 0 100px 0 100px;
	font-size: 50px;
	text-align: center;
}

.lo {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.2rem !important;
}

.logo-top {
	padding-top: 40px;
}

.font-login {
	font-size: 12px;
}

.btn-login {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #FF9019;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-login.focus, .btn-login:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn-login:hover {
	color: #fff;
	background-color: #ff8040;
	border-color: #ffffff
}

/***************** header 영역 **********************/
.header {
	width: 100%;
	height: 70px;
	background: white;
	text-align: right;
	padding: 25px 50px 25px 25px;
}

.head {
	background-color: #4e73df;
	color: #fff;
	width: 100px;
	font-size: 16px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius: 10px;
	font-size: 16px;
}

.logUser {
	margin-right: 20px;
	margin-bottom: 5px;
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000000;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 0.9rem;
	line-height: 1.5;
	border-radius: 1rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.logUser:hover {
	color: #fff;
	background-color: #4e73df;
	border-color: #ffffff;
}

.logUser.focus, .logUser:focus {
	outline: 0;
	box-shadow: 0 0 0 .1rem rgba(0, 123, 255, .25)
}

.btn-head {
	margin-bottom: 5px;
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000000;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 0.9rem;
	line-height: 1.5;
	border-radius: 1rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-head.focus, .btn-head:focus {
	outline: 0;
	box-shadow: 0 0 0 .1rem rgba(0, 123, 255, .25)
}

.btn-head:hover {
	color: #fff;
	background-color: #4e73df;
	border-color: #ffffff;
}

/***************** sider 영역 **********************/
.side {
	position: fixed;
	height: 100%;
	background: #4e73df;
}

#subMenu {
	display: none;
}

li a:target>#subMenu {
	display: block;
}

li {
	padding: 5px;
}

/***************** footer 영역 **********************/
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	border-top: 0.5px solid #c6c6c6;
	padding: 15px 0 15px 80px;
	margin-left: 220px;
	left: 0;
}
/***************** content 영역 **********************/
#content {
	margin-top: 100px;
	margin-bottom: 20px;
}

.title-font {
	color: #1c8be6;
	font-weight: bold;
}

.card {
	border: 3px solid #48b0f7 !important;
	padding: 10px 5px 10px 5px;
}

.b-r {
	border-right-width: 1px;
	border-left-width: 0px;
	border-top-width: 0;
	border-bottom-width: 0;
}

.b-l {
	border-left-width: 1px !important;
	border-right-width: 0px;
	border-top-width: 0;
	border-bottom-width: 0;
}

.b-b {
	border-bottom-width: 1px;
	border-left-width: 0;
	border-top-width: 0;
	border-right-width: 0;
}

.b-dashed {
	border-style: dashed;
}

#divBodyScroll {
	/*overflow-x, overflow-y는 scroll로 지정하고,
	height는 테이블의 데이터가 나올 기본 크기를 잡아줍니다.
	세로길이를 잡아주지 않으면 overflow-y가 걸리지 않습니다.*/
	width: 100%;
	height: 350px;
	overflow-x: scroll;
	overflow-y: scroll;
	border-top: 1px solid #d0d0d0;
}

#divradio {
	text-align: center;
}

input[name=radio] {
	margin-left: 10px;
}

.msgBox {
	background-color: #222;
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 30px;
	max-width: 400px;
	padding: 20px 15px 20px 15px;
	border-radius: 25px;
}

.content-box {
	background: #fff;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

.form-box {
	padding-top: 20px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
}

.textbytes {
	font-size: 12px !important;
}

.contentType {
	background-color: #000000;
	color: #fff;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-top: 4px;
	border-radius: 10px;
}

.fms-box {
	width: 100%;
	height: 300px;
	border-radius: 25px;
	margin: 10px 0 10px 0;
}

.fms-span {
	color: #c0c0c0;
	font-size: 5px;
	padding: 0 0 0 5px;
}

.de {
	margin-top: 15px;
}

.btn-delete {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #baa5a5;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-delete.focus, .btn-delete:focus {
	outline: 0;
	box-shadow: 0 0 0 .1rem rgba(0, 123, 255, .25)
}

.btn-delete:hover {
	color: #fff;
	background-color: #795e5e;
	border-color: #ffffff;
}